*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


.d-f{
  display: flex;
}

.d-g{
  display: grid;
}

.jc-c{
  justify-content: center;
}

.jc-sb{
  justify-content:space-between;
}

.jc-sa{
  justify-content:space-around;
}

.jc-se{
  justify-content:space-evenly;
}

.ai-c{
  align-items: center;
}

.ai-s{
  align-items: flex-start;
}

.zi-0{
  z-index: 0;
}

.zi-1{
  z-index: 1;
}

.fd-r{
  flex-direction: row;
}

.fd-c{
  flex-direction: column;
}

.ga-8{
  gap: 8px;
}

.c-p{
  cursor: pointer;
}